node_modules/
myNOTES.md
requests

/server/build/
build/
dist/

*.env*
!.env.example
.env

/logs
*.log

.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

*.sw?
*.cache
.DS_Store

/dist
/dist-ssr
.eslintcache

.prettierrc

.dockerignore
Terraform.git

# terraform
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc