node_modules/
myNOTES.md
requests

/server/build/
build/
dist/

*.env*
!.env.example
.env

/logs
*.log

.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

*.sw?
*.cache
.DS_Store

/dist
/dist-ssr
.eslintcache

.prettierrc

.dockerignore